.component-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 4px solid currentColor;
}

.component-section .section-title {
  padding: 16px 28px 0 28px;
}

.component-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 28px;
  gap: 28px;
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
}

.show-borders * {
  outline: 0.33px solid var(--fg);
}

.typography-container {
  width: 100%;
}

.typography-container:first-child {
  max-width: 64ch;
  margin: 0 auto 0 auto;
}