.app {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 56px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.toggle-borders {
  position: fixed;
  top: 0;
  right: 0;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Sharp';
  font-weight: inherit;
  font-style: normal;
  font-size: inherit;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}