@import "./reset.css";

:root {
  --size-1: 1px;
  --size-2: 1.19px;
  --size-3: 1.41px;
  --size-4: 1.68px;
  --size-5: 2px;
  --size-6: 2.38px;
  --size-7: 2.83px;
  --size-8: 3.36px;
  --size-9: 4px;
  --size-10: 4.76px;
  --size-11: 5.56px;
  --size-12: 6.73px;
  --size-13: 8px;
  --size-14: 9.51px;
  --size-15: 11.31px;
  --size-16: 13.45px;
  --size-17: 16px;
  --size-18: 19.03px;
  --size-19: 22.63px;
  --size-20: 26.91px;
  --size-21: 32px;
  --size-22: 38.05px;
  --size-23: 45.25px;
  --size-24: 53.82px;
  --size-25: 64px;
  --size-26: 76.11px;
  --size-27: 90.51px;
  --size-28: 107.63px;
  --size-29: 128px;
  --1-column: 6.6666666667%;
  --2-column: 13.3333333334%;
  --3-column: 20.0000000001%;
  --4-column: 26.6666666668%;
  --5-column: 33.3333333335%;
  --6-column: 40.0000000002%;
}