.theme--visionos {
  /* TOP BAR */
  /* Typography */
  --top-bar--title-weight: 700;
  --top-bar--title-color: #fffffff5;

  /* BUTTON */
  /* Shape */
  --button--border-radius--32: 999px;
  /* Typography */
  --button--font-weight: 600;
  --button--color--plan: #fffffff5;
  /* Visual */
  --button--background--plan: linear-gradient(#5e5e5e2e, #5e5e5e2e), linear-gradient(#ffffff0f, #ffffff0f);
  --button--background-blend-mode--plan: color-dodge, lighten;
  --button--background--plan--hover: linear-gradient(#ffffff0f, #ffffff0f), linear-gradient(#5e5e5e2e, #5e5e5e2e), radial-gradient(ellipse 179% 100% at bottom, #ffffff12 0%, #ffffff00 56%), radial-gradient(ellipse 179% 100% at bottom, #5E5E5E24 0%, #5E5E5E00 74%);
  --button--background-blend-mode--plan--hover: lighten, color-dodge, lighten, color-dodge;

  /* Other */
  --button--cursor: default;

  /* Outer parent to nested children without children */
  .window {
    /* Size */
    width: 100%;
    height: 100%;
    /* Visual */
  }

  .window-content {
    /* Positioning */
    position: relative;
    /* Size */
    width: 100%;
    height: 100%;
    /* Shape */
    border-radius: 32px;
    mask-image: linear-gradient(white, white);
    -webkit-mask-image: -webkit-linear-gradient(white, white);
    /* Scroll */
    overflow: hidden;
    /* Visual */
    background-color: #8080804d;
    background-blend-mode: luminosity;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);

    &::after {
      content: '';
      position: absolute;
      z-index: 1000;
      inset: 0;
      border-radius: 32px;
      pointer-events: none;
      border: 1px solid transparent;
      background: linear-gradient(176deg, rgba(255, 255, 255, 40%) 0%, rgba(255, 255, 255, 0%) 53%, rgba(255, 255, 255, 0%) 73%, rgba(255, 255, 255, 10%) 128%) border-box;
      mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }

    /* 176 */

    /* Shared styles first */
    .top-bar-container,
    .top-bar-container--on-scroll {
      /* Positioning */
      position: absolute;
      left: 0;
      /* horizontal first */
      top: 0;
      z-index: 999;
      /* Size */
      width: 100%;
    }

    /* Then specific styles */
    .top-bar-container,
    .top-bar-container--on-scroll {
      --top-bar--background: transparent;
      --top-bar--background-blend-mode: luminosity;
      --top-bar--backdrop-filter: blur(9px);
      --top-bar--mask: linear-gradient(#ffffff 56%, #ffffffcc 75%, #ffffff00);
    }

    .content-area {
      /* Display */
      display: flex;
      /* Size */
      width: 100%;
      height: 100%;
      /* Align */
      justify-content: center;
      /* Scroll */
      overflow-y: scroll;

      scrollbar-width: none;
      /* Firefox */
      -ms-overflow-style: none;
      /* IE and Edge */

      &::-webkit-scrollbar {
        display: none;
      }

    }
  }
}