.page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 2000px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.screen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

.window-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transition: transform 0.2s ease-out;
  overflow: visible;
  z-index: 4;
}