.uai-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  font-family: inherit;
  font-weight: 600;
  border-radius: var(--theme-Button-border-radius, 0px);
  color: var(--theme-Button-color, --fg);
  background-color: var(--theme-Button-background-color, --bg);
  cursor: pointer;
}

.uai-Button-icon,
.uai-Button-icon--trailing {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
}

.uai-Button--size32 {
  height: 32px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.005em;
  border-radius: var(--theme-Button--size32-border-radius, 0px);
}

.uai-Button--size32 .uai-Button-icon {
  width: 20px;
  height: 20px;
  margin: 6px;
  font-size: 20px;
}

.uai-Button--size32 .uai-Button-icon * {
  font-size: 20px;
}

.uai-Button--size32 .uai-Button-icon--trailing {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.uai-Button--size32 .uai-Button-icon--trailing * {
  font-size: 16px;
}

.uai-Button--size32 .uai-Button-icon svg,
.uai-Button--size32 .uai-Button-icon--trailing svg {
  width: 100%;
  height: 100%;
}

.uai-Button--size32 .uai-Button-text--with-icon {
  margin: 0 14px 0 0;
}

.uai-Button--size32 .uai-Button-text {
  margin: 0 14px 0 14px;
}