@import '@uai-ui-react/base-css';

:root {
  --uai--button--vertical-padding--32: var(--size-13);
  --uai--button--horizontal-padding--32: var(--size-14);
  --uai--button--gap--32: var(--size-6);
  --uai--button--label-gap--32: var(--size-10);
  --uai--button--icon-size--32: var(--size-17);
  --uai--button--text-size--32: var(--size-16);
  --uai--button--trailing-icon-size--32: var(--size-15);
  --uai--button--group-gap--32: var(--size-11);
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: var(--button--font-weight);
  color: var(--button--color);
  cursor: var(--button--cursor, pointer);
}

.button--plan {
  background: var(--button--background--plan);
  color: var(--button--color--plan, var(--button--color));
}

.button--plan:hover {
  background: var(--button--background--plan--hover);
  color: var(--button--color--plan--hover, var(--button--color--hover));
}

.button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
  background: transparent;
}

.button .icon,
.button .trailing-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
}

.button--32 {
  padding: var(--uai--button--vertical-padding--32) var(--uai--button--horizontal-padding--32);
  gap: var(--uai--button--gap--32);
  line-height: var(--uai--button--icon-size--32);
  letter-spacing: var(--button--letter-spacing--32);
  border-radius: var(--button--border-radius--32, var(--button--border-radius));
  mask-image: linear-gradient(white, white);
  -webkit-mask-image: -webkit-linear-gradient(white, white);
}

.button--32 .label {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--button--letter-spacing--32);
  font-size: var(--uai--button--text-size--32);
  gap: var(--uai--button--label-gap--32);
}

.button--32 .icon {
  width: var(--uai--button--icon-size--32);
  height: var(--uai--button--icon-size--32);
}

.button--32 .icon * {
  font-size: var(--uai--button--icon-size--32);
  color: var(--button--icon-color--plan, var(--button--icon-color), currentColor);
}

.button--32:hover .icon * {
  color: var(--button--icon-color--plan--hover, var(--button--icon-color--hover), currentColor);
}

.button--32 .trailing-icon {
  width: var(--uai--button--trailing-icon-size--32);
  height: var(--uai--button--icon-size--32);
}

.button--32 .trailing-icon * {
  font-size: var(--uai--button--trailing-icon-size--32);
  color: currentColor;
}

.button--32 .icon svg,
.button--32 .trailing-icon svg {
  width: 100%;
  height: 100%;
  color: currentColor;
}

.button-group--32 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--uai--button--group-gap--32);
}