@import '@uai-ui-react/base-css/src/index.css';

:root {
  --top-bar-title: var(--size-17);
  --top-bar-padding: var(--size-17);
  --top-bar-gap-1: var(--size-17);
  --top-bar-gap-2: var(--size-18);
}

.uai-Top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--top-bar-gap-2);
  width: 100%;
  padding: var(--top-bar-padding);
  background: var(--theme-Top-bar-background, --bg);
  color: var(--Tob-bar-color, --fg);
  backdrop-filter: var(--theme-Top-bar-backdrop-filter, none);
  filter: var(--theme-Top-bar-filter);

  .leading,
  .center,
  .trailing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--top-bar-gap-2);
  }

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: var(--6-column);
    font-size: var(--top-bar-title);
    line-height: 1;
  }
}